# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
node_modules_trash
.pnpm-store

# Build Output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*

# Backup and Reference files
reference_index.html
*.bak
*.tmp

# Testing
coverage

# Vite
.vite/

# Example
example